p {
  font-family: Lato;
}


.navigation-tab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(91, 3, 224);
  height:30px;
  width: auto;
}

.left-section{
  font-weight: 5;
  color: white;
  font-size: 12px;
  width:220px;
  display: flex;
}

.home-page{
  margin-left: 10px;
}

.item1{
  margin-left: 10px;
}

.right-section{
  color:white;
  font-size: 12px;
  width:93px;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
}

.login-page{
  cursor: pointer;
}

.login-page:hover{
  font-weight: 600;
  text-decoration: underline;
}

/* 
.mat-card{
  
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
} */

.mat-card-subtitle{
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
} 

.login-display{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mat-card{
  width:220px;
}

.login-header{
  justify-content: start;
  margin-left: -13px;
}

.mat-card-actions{
  margin-left:0px;
}

.jest{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
}

.displayingUsersComments {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;

}

.displayingUsersComments .mat-card{
  background-color: antiquewhite;
  margin-right: 12px;
  margin-top:15px;
}

.displayingUsersComments .mat-card .mat-card-subtitle {
  display: flex;
  justify-content: space-between;
}

.covid-report-display{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.covid-report-display .mat-card {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  margin:3px;
  align-items: center;
}

.covid-report-display .mat-card .subtitle_section {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.covid-report-display .mat-card .mat-card-content {
  font-size: 10px;
  color:rgb(114, 114, 114);
}

.covid-report-display .mat-card .mat-card-content .mat-card-title{
  font-size: 12px;
  color: rgb(56, 56, 56);
}

